h1 {
    color: white;
    display: flex;
    justify-content: center;
}

body {
    background: url(/pink\ dust.png);
}

.search-container {
    display: flex;
    justify-content: center;
}

.picture-container {
    display: flex;
    justify-content: space-around;
}



